.input {
    height: 75px;  /**/

    align-items: center; /*verticalmente al centro*/
    display: flex; /**/
    justify-content: flex-end; /**/
    
    font-weight: bold;/**/
    font-size: 30px; /**/
    color: white; /**/

    background-color: #0a0a23; /**/

    margin: 1px solid #888; /**/
    margin-bottom: 20px; /**/
    border-radius: 50px; /**/

    padding: 11px 30px 11px 11px; /*En el orden de las agujas del reloj*/
    box-shadow: -1px 4px 1px 1px white; /**/
}